
.depicter-revert.depicter-31 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-31-element-63{
	opacity:0.493;
	background-color:rgba(0, 0, 0, 0.5);
}
.depicter-31-element-63 .depicter-timer-bar{
	background-color:#FFA323;
}
.depicter-revert .depicter-31-element-89{
	opacity:0.493;
	background-color:rgba(0, 0, 0, 0.5);
}
.depicter-31-element-89 .depicter-timer-bar{
	background-color:#FFA323;
}
.depicter-revert .depicter-31-element-88{
	opacity:0.493;
	background-color:rgba(0, 0, 0, 0.5);
}
.depicter-31-element-88 .depicter-timer-bar{
	background-color:#FFA323;
}
.depicter-revert .depicter-31-element-86{
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Raleway";
	font-weight:400;
	background-color:#FFA323;
	border-radius:20px;
}
.depicter-revert .depicter-31-element-86:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-31-element-86:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-31-element-86-frame{
	mix-blend-mode:normal;
}
.depicter-revert .depicter-31-element-85{
	font-size:14px;
	color:#FFF;
	font-family:"Raleway";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-31-element-84{
	font-size:60px;
	color:#FA8702;
	font-family:"Roboto";
	font-weight:400;
	line-height:100%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-31-element-83{
	font-size:13px;
	color:#FFF;
	font-family:"Raleway";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-31-element-87{
	background-color:rgba(0, 0, 0, 0.47);
}
.depicter-revert .depicter-31-element-87-frame{
	mix-blend-mode:normal;
}
.depicter-revert .depicter-31-section-1 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-31-section-1 .depicter-section-background::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-image:linear-gradient(90deg, rgba(0, 74, 47, 0.67) 0%, transparent 71%);
}
.depicter-revert .depicter-31-element-82{
	opacity:0.493;
	background-color:rgba(0, 0, 0, 0.5);
}
.depicter-31-element-82 .depicter-timer-bar{
	background-color:#FFA323;
}
.depicter-revert .depicter-31-element-80{
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Raleway";
	font-weight:400;
	background-color:#FFA323;
	border-radius:20px;
}
.depicter-revert .depicter-31-element-80:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-31-element-80:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-31-element-80-frame{
	mix-blend-mode:normal;
}
.depicter-revert .depicter-31-element-79{
	font-size:14px;
	color:#FFF;
	font-family:"Raleway";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-31-element-78{
	font-size:60px;
	color:#FA8702;
	font-family:"Roboto";
	font-weight:400;
	line-height:100%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-31-element-77{
	font-size:13px;
	color:#FFF;
	font-family:"Raleway";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-31-element-81{
	background-color:rgba(0, 0, 0, 0.47);
}
.depicter-revert .depicter-31-element-81-frame{
	mix-blend-mode:normal;
}
.depicter-revert .depicter-31-section-12 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-31-section-12 .depicter-section-background::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.62) 0%, transparent 58%);
}
.depicter-revert .depicter-31-element-53{
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Raleway";
	font-weight:400;
	background-color:#FFA323;
	border-radius:20px;
}
.depicter-revert .depicter-31-element-53:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-31-element-53:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-31-element-53-frame{
	mix-blend-mode:normal;
}
.depicter-revert .depicter-31-element-52{
	font-size:14px;
	color:#FFF;
	font-family:"Raleway";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-31-element-51{
	font-size:60px;
	color:#FA8702;
	font-family:"Roboto";
	font-weight:400;
	line-height:100%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-31-element-50{
	font-size:13px;
	color:#FFF;
	font-family:"Raleway";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-31-element-76{
	background-color:rgba(0, 0, 0, 0.47);
}
.depicter-revert .depicter-31-element-76-frame{
	mix-blend-mode:normal;
}
.depicter-revert .depicter-31-section-21 .depicter-bg-video{
	background-color:#FFF;
	filter:brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-31-element-85{
	font-size:11px;
	text-align:center;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:400;
	line-height:120%;
}
.depicter-revert .depicter-31-element-84{
	font-size:40px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight:400;
	line-height:100%;
	text-transform:capitalize;
}
.depicter-revert .depicter-31-element-83{
	font-weight:400;
}
.depicter-revert .depicter-31-element-79{
	font-size:11px;
	text-align:center;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:400;
	line-height:120%;
}
.depicter-revert .depicter-31-element-78{
	font-size:40px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight:400;
	line-height:100%;
	text-transform:capitalize;
}
.depicter-revert .depicter-31-element-77{
	font-weight:400;
}
.depicter-revert .depicter-31-element-52{
	font-size:11px;
	text-align:center;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:400;
	line-height:120%;
}
.depicter-revert .depicter-31-element-51{
	font-size:40px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight:400;
	line-height:100%;
	text-transform:capitalize;
}
.depicter-revert .depicter-31-element-50{
	font-weight:400;
}

}
